@import url('https://fonts.googleapis.com/css?family=Cinzel');

#landing_page {
    /* background: url("landing_image/ct.jpg");
    background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    }

.hover_tile {
    position: absolute;
    top: 30%;
    left: 30%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.712);
    width: 40vw;
    height: 40vh;
    }


    h1 {
        font-family: "Cinzel";
        color  #0D1C1E;
        text-align: center;
        font-size: 4vh;
        }
    
 p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 2.2vh;
        }



#navigation_page {
    /* background: url("nav_page/temp.jpg"); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
    }

   
.nav_tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Cinzel";
    text-align: center;
    font-size: 4vh;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    }

.blurb_tiles {
    display: none;
    }

.blurb_tiles p {
    padding-top: 17px;
    width: 50vw;
    text-align: center;
}


a:link {
    text-decoration: none;
    font-family: "Cinzel";
    color #0D1C1E;
    }  
/*******************************************************************************************************/

#about_page {
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    }

#profile {
    border-radius: 50%;
}
    
    
#about_blurb {
    background-color: rgba(255, 255, 255, 0.712);
    font-family: "Cinzel";
    color: #0D1C1E;
    text-align: center;
    font-size: 2.2vh;
    width: 85vw;
    height: 15vh;
}


/*******************************************************************************************************/
#skills_page {
    /* background: url("skills_page/test.jpeg"); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    }

#ruby {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#python {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    /* justify-content: center; */
}

#ruby_on {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#js {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
    /* justify-content: center; */
}

.logo {
    
    /* padding-top: 2vh; */
    width: 15vw;
}



 /*******************************************************************************************************/

 #projects_page {
    /* background: url("background/leather.jpg"); */
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }


#roulette {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* padding-left: 5px; */
    /* justify-content: center; */
}

#ubuntu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#under_construction1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;

}

#under_construction2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;

}

/*******************************************************************************************************/

#contact_page {
    /* background: url("contact_page/desk.jpeg"); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#github {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#linked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#email {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}


/*******************************************************************************************************/


#work_page {
    /* background: url("nav_page/temp.jpg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
} 



#education_page {
    /* background: url("education/education.jpeg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#undergrad {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#hons {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
    /* justify-content: center; */
}

#pgce {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#dip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5px;
    align-items: center;
}
/********************************************************************************************************/
#work_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: url("work_page/desk.jpeg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* #work_page p {
    width: 50%
    
} */

#standrews {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


/********************************************************************************************************/

#education_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: url("skills_page/tools.jpeg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*******************************************************************************************************/

#fixed_background {
    background: url("landing_image/ct.jpg");
    background-size: cover;
    background-attachment: fixed;
}




@media screen and (min-width:800px) {

    h1 {
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 5vh;
        }

    #fixed_background {
        background: url("background/leather.jpg");
        background-size: cover;
        background-attachment: fixed;
        }
    
    
   #landing_page p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 3.5vh;
        }

    #navigation_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .blurb_tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 4vh;
        width: 100vw;
        height: 25vh;
        background-color: rgba(255, 255, 255, 0.712)        
    }

    #skills_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #projects_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #contact_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #work_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #education_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .logo {
        /* padding-top: 2.5vh; */
        width: 6vw;
        height: 11vh; 
    }

    .nav_tiles {
        width: 35vw;
        height: 16vh;
    }

}





/* .nav_tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Cinzel";
    color #0D1C1E;
    text-align: center;
    font-size: 4vh;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    } */