@import url('https://fonts.googleapis.com/css?family=Cinzel');

/****************************************************************************************************/

/****************************************************************************************************/


html {
    scroll-behavior: smooth;
    background: url("landing_image/ct.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

body {
    width: 100vw;
    height: 100vh;
}

#landing_page {
    /* background: url("landing_image/ct.jpg");
    background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    
    display: flex;
    flex-direction: column; 
    justify-content: space-around;  
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }

#landing_page .arrow_tile {
    justify-self: flex-end;
}    

.hover_tile {
    background-color: rgba(255, 255, 255, 0.712);
    width: 40vw;
    height: auto;
    padding: 20px;
    }


    h1 {
        font-family: "Cinzel";
        color:  #0D1C1E;
        text-align: center;
        font-size: 4vh;
        }
    
   h1 p {
        font-family: "Cinzel";
        color: #0D1C1E;.arrow_tile
        text-align: center;
        font-size: 2.2vh;

        }

.nav_tiles p {
    font-family: "Cinzel";
    color: #0D1C1E;
    text-align: center;
    font-size: 3vw;
    }


#navigation_page {
    /* background: url("nav_page/temp.jpg"); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
    }



a:hover{
    font-family: "Cinzel";
    color:  #0D1C1E;
    text-align: center;
}


a:visited{
    font-family: "Cinzel";
    color: #4A7C94;
    text-align: center;
    font-size: 3.5vh;
}
.arrowholder {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.arrow_tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: #4A7C94;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.712);
}

.nav_tiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Cinzel";
    text-align: center;
    font-size: 5vw;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    }

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Cinzel";
    text-align: center;
    font-size: 5vw;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    }

    .card p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 3vw;

    }

.blurb_tiles {
    display: none;
    }

.blurb_tiles p {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 66vw;
    text-align: center;
}


a:link {
    text-decoration: none;
    font-family: "Cinzel";
    color: #333329;
    }  
/*******************************************************************************************************/

#about_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    }

#profile {
    border-radius: 50%;
    border: 3px;
    border-color: #333329ad;
    border-style: solid;
    height: 40vh;
    width: 50wh;
}

#about_tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.712); 
}
    
    
#about_blurb {
    font-family: "Cinzel";
    color: #0D1C1E;
    font-size: 3.75vw;
    width: 66vw;
    text-align: center;
}

#about_blurb span {
    font-size: 3.5vw;
}


/*******************************************************************************************************/
#skills_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    }

#ruby {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#python {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    /* justify-content: center; */
}

#ruby_on {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#js {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
    /* justify-content: center; */
}





 /*******************************************************************************************************/

 #projects_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }


#roulette {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#ubuntu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#under_construction1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;

}

#under_construction2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;

}

/*******************************************************************************************************/

#contact_page {
    /* background: url("contact_page/desk.jpeg"); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#github {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#linked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#email {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}




/*******************************************************************************************************/




/********************************************************************************************************/
#work_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}



/********************************************************************************************************/

#education_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: url("skills_page/tools.jpeg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}


.all_icons {
    width: 15%;
    height: 90%;
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    height: 90%;
}

#rubyimg {
    background-image:url(skills_page/ruby.png);
}

#pythonimg {
    background-image:url(skills_page/python.png);
}

#rubyonrailsimg {
    background-image:url(skills_page/rails.png);
}

#javascriptimg {
    background-image:url(skills_page/js2.png);
}

#rouletteimg {
    background-image:url(projects_page/roulette.png);
}

#ubuntuimg {
    background-image:url(projects_page/africa.png);
}

#under_constructionimg {
    background-image:url(projects_page/under_construction.png);
}

#vinylimg {
    background-image:url(projects_page/vinyl.png);
}


#githubimg {
    background-image:url(contact_page/github.png);
}

#linkedimg {
    background-image:url(contact_page/linked.png);
}

#phoneimg {
    background-image:url(contact_page/phone.png);
}

#gmailimg {
    background-image:url(contact_page/gmail.png);
}

#kingswoodimg {
    background-image:url(work_page/kingswood.png);
}

#standrewsimg {
    background-image:url(work_page/st_andrews.png);
    background-size: cover;
}

#kearsneyimg {
    background-image:url(work_page/kearsney.png);
}

#undergradimg {
    background-image:url(education/undergrad.png);
}

#honsimg {
    background-image:url(education/hons.png);
}

#pgceimg {
    background-image:url(education/pgce.png);
}

#coderimg {
    background-image:url(education/ca.png);
}



/*******************************************************************************************************/

#fixed_background {
    /* background: url("landing_image/ct.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; */
}

/* background: url(image.format) no-repeat center center fixed; 

background-size: cover;
background-size:100%;
width:100%; */




@media screen and (min-width:800px) {

    h1 {
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 5vh;
        }
    
    
   #landing_page p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 3.5vh;
        }

    #navigation_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #about_blurb {
        font-size: 2vw;
    }

    .blurb_tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 2.6vh;
        width: 100vw;
        height: auto;
        background-color: rgba(255, 255, 255, 0.712)        
    }

    .blurb_tiles span {
        font-size: 3.3vw;
    }

    #skills_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #projects_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #contact_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #work_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #education_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }



    .nav_tiles {
        width: 35vw;
        height: 16vh;
        font-size: 3vw;
    }

    .card {
        width: 35vw;
        height: 16vh;
        font-size: 3vw;
    }


    .nav_tiles p {
        font-size: 1.15vw;
    }

    .card p {
        font-size: 1.15vw;
    }
    
    .arrowholder {
        width: 33vw;
    }


}
