@import url('https://fonts.googleapis.com/css?family=Cinzel');

#landing_page {
    background: url("landing_image/2.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    }

#hover_tile {
    position: absolute;
    top: 30%;
    left: 30%;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.712);
    width: 40vw;
    height: 40vh;
    }

    h1 {
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 4vh;
        }
    
    p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 2.2vh;
        }

#navigation_page {
    background: url("nav_page/temp.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }

   
.nav_tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Cinzel";
    color #0D1C1E;
    text-align: center;
    font-size: 4vh;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    }



a:link {
    text-decoration: none;
    font-family: "Cinzel";
    color #0D1C1E;
    }  
/*******************************************************************************************************/
#skills_page {
    background: url("skills_page/test.jpeg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    }

#ruby {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ruby_on {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#js {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    width: 20vw;
    height: 14vh; 
}



 /*******************************************************************************************************/

 #projects_page {
    background: url("background/leather.jpg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }


#roulette {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ubuntu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#under_construction {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*******************************************************************************************************/

#contact_page {
    background: url("contact_page/desk.jpeg");
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#github {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#linked {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#email {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/*******************************************************************************************************/


#work_page {
    background: url("nav_page/temp.jpg");
    background-color: pink;
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
} 



#education_page {
    background: url("education/education.jpeg");
    background-color: green;
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#undergrad {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#pgce {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#dip {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/********************************************************************************************************/
#work_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: url("work_page/desk.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* #work_page p {
    width: 50%
    
} */

#standrews {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


/********************************************************************************************************/

#education_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: url("skills_page/tools.jpeg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}

