@import url('https://fonts.googleapis.com/css?family=Cinzel');

/****************************************************************************************************/

/****************************************************************************************************/


html {
	scroll-behavior: smooth;
}

#landing_page {
    /* background: url("landing_image/ct.jpg");
    background-attachment: fixed; */
    /* background-repeat: no-repeat; */
    
    display: flex;
    flex-direction: column; 
    justify-content: space-around;  
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }

#landing_page .arrow_tile {
    justify-self: flex-end;
}    

.hover_tile {
    /* position: absolute;
    top: 30%;
    left: 30%;
    display: inline-block; */
    background-color: rgba(255, 255, 255, 0.712);
    width: 40vw;
    height: auto;
    }


    h1 {
        font-family: "Cinzel";
        color:  #0D1C1E;
        text-align: center;
        font-size: 4vh;
        }
    
   h1 p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 2.2vh;

        }

.nav_tiles p {
    font-family: "Cinzel";
    color: #0D1C1E;
    text-align: center;
    font-size: 3vw;
    }


#navigation_page {
    /* background: url("nav_page/temp.jpg"); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-size: cover; */
    width: 100%;
    height: 100vh;
    }



a:hover{
    font-family: "Cinzel";
    color:  #0D1C1E;
    text-align: center;
}


a:visited{
    font-family: "Cinzel";
    color: #4A7C94;
    text-align: center;
    font-size: 3.5vh;
}


.arrow_tile {
    display: inline-block;
    border-color: #4A7C94;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.712);
}

   
.nav_tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Cinzel";
    text-align: center;
    font-size: 5vw;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    }

.blurb_tiles {
    display: none;
    }

.blurb_tiles p {
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 66vw;
    text-align: center;
}


a:link {
    text-decoration: none;
    font-family: "Cinzel";
    color: #333329;
    }  
/*******************************************************************************************************/

#about_page {
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    }

#profile {
    border-radius: 50%;
    border: 3px;
    border-color: #333329ad;
    border-style: solid;
    height: 40vh;
    width: 50wh;
}

#about_tile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.712); 
}
    
    
#about_blurb {
    font-family: "Cinzel";
    color: #0D1C1E;
    font-size: 3.75vw;
    width: 66vw;
    text-align: center;
}

#about_blurb span {
    font-size: 3.5vw;
}


/*******************************************************************************************************/
#skills_page {
    /* background: url("skills_page/test.jpeg"); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    }

#ruby {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#python {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
    /* justify-content: center; */
}

#ruby_on {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#js {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
    /* justify-content: center; */
}

.logo {
    width: 15vw;
}

#dog {
    width: 10vw;
}

#dragon {
    width: 12vw;
}

.badge {
    width: 12vw;
}




 /*******************************************************************************************************/

 #projects_page {
    /* background: url("background/leather.jpg"); */
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    }


#roulette {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* padding-left: 5px; */
    /* justify-content: center; */
}

#ubuntu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#under_construction1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;

}

#under_construction2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;

}

/*******************************************************************************************************/

#contact_page {
    /* background: url("contact_page/desk.jpeg"); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#github {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#linked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
}

#email {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}


/*******************************************************************************************************/


#work_page {
    /* background: url("nav_page/temp.jpg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
} 



#education_page {
    /* background: url("education/education.jpeg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
} 

#undergrad {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 5px;
    /* justify-content: center; */
}

#hons {
    display: flex;
    flex-direction: row;
    padding-left: 5px;
    align-items: center;
    /* justify-content: center; */
}

#pgce {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 5px;
    align-items: center;
    /* justify-content: center; */
}

#dip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5px;
    align-items: center;
}
/********************************************************************************************************/
#work_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}



#kingswood {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#standrews {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#kearsney {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/********************************************************************************************************/

#education_page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background: url("skills_page/tools.jpeg"); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/*******************************************************************************************************/

#fixed_background {
    background: url("landing_image/ct.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

/* background: url(image.format) no-repeat center center fixed; 

background-size: cover;
background-size:100%;
width:100%; */




@media screen and (min-width:800px) {

    h1 {
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 5vh;
        }

    /* #fixed_background {
        background: url("background/leather.jpg");
        background-size: cover;
        background-attachment: fixed;
        } */
    
    
   #landing_page p {
        font-family: "Cinzel";
        color: #0D1C1E;
        text-align: center;
        font-size: 3.5vh;
        }

    #navigation_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #about_blurb {
        font-size: 2vw;
    }

    .blurb_tiles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-family: "Cinzel";
        color #0D1C1E;
        text-align: center;
        font-size: 2.6vh;
        width: 100vw;
        height: auto;
        background-color: rgba(255, 255, 255, 0.712)        
    }

    .blurb_tiles span {
        font-size: 3.3vw;
    }

    #skills_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #projects_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #contact_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #work_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    #education_page{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .logo {
        /* padding-top: 2.5vh; */
        width: 6vw;
        height: auto; 
    }


    .nav_tiles {
        width: 35vw;
        height: 16vh;
        font-size: 3vw;
    }

    .nav_tiles p {
        font-size: 1.15vw;
    }
    
    #dog {
        width: 4vw;
    }

    #dragon {
        width: 4vw;
    }


    .badge {
        width: 4vw;
    }

}





/* .nav_tiles {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Cinzel";
    color #0D1C1E;
    text-align: center;
    font-size: 4vh;
    width: 90vw;
    height: 14vh;
    background-color: rgba(255, 255, 255, 0.712);
    } */